{% extends 'base.html' %}

{% block head %}
<title>BAW - зміна паролю</title>
<link rel="stylesheet" href="{{ url_for ('static', filename='css/register/update_password.css') }}">
{% endblock %}

{% block bg %}style = "background-color:rgba(228, 207, 111, 0.315);"{% endblock %}


{% block btn %}
<a href="{{ url_for ('towar.add') }}" class = "sell">Продати</a>
{% endblock %}






{% block content %}
<div class = "screen shadow-lg mb-5 rounded">
<form method = "POST" action = "{{ url_for ('users.endupdate_pasword') }}">

<table>

<thead>
    <tr><th></th><th></th></tr>
</thead>

<tbody>
    <tr>
        <td><label for = "before_password">Введіть пароль, який зараз:</label></td>
        <td><input type = "password" required name = "before_password" id = "before_password"></td>
    </tr>
    
    <tr>
        <td><label for = "password">Введіть новий пароль:</label></td>
        <td><input type = "password" required name = "password" id = "password"></td>
    </tr>

    <tr>
        <td><label for = "repeat">Повторіть новий пароль:</label></td>
        <td><input type = "password" required name = "repeat" id = "repeat"></td>
    </tr>

</tbody></table>

{% with messages = get_flashed_messages () %}
{% if messages %}
    {% for message in messages %}
        <b><p class = "error">{{ message }}</p></b>
    {% endfor %}
{% endif %}
{% endwith %}

<input type = "submit" value = "Змінити пароль" name = "submit" class = "end_change">

</form>
</div>
{% endblock %}