.screen {
    align-items:center;
    justify-content:center;
    display:flex;
    margin-top:10%;
    border:5px dashed rgb(80, 0, 0);
    margin-inline:30%;
    padding:3%;
    border-radius:5%;
}

.end_change {
    margin-top:5%;
    width:100%;
}

.error {
    color:red;
}